*{
    margin: 0;
    box-sizing: border-box;
}

.ShoeStore{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    background-color: #f9f9f9;
}


/* Banner */
.ShoeStore__banner{
    grid-column: 1 / span 6;
    padding: 20px;
    text-align: center;
}


.Banner p{
    color: rgb(165, 165, 165);
}


.ShoeStore__banner{
    background-color: #fff;
    height: 300px;
}

.SneakerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.SneakerNav__logo{
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.SneakerNav__links{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}


/* Sneaker Section */
.ShoeStore__sneakerSection{
    /* grid-auto-flow: row; */
    /* grid-column: 2 / span 4; */

    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.sneakerCard{
    max-width: 350px;
    margin: 15px 20px;
    background-color: #fff;
}


/* filters */
.filters{
    margin: 20px 25px;
    box-sizing: border-box;
        /* display: flex;
        flex-direction: column; */
        grid-row: 2 / span 4;

    font-size: 12px;
}


details{
    /* border: 2px solid #f9f9f9; */
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    /* padding: 3em 3em 3em; */
}
details[open] {
    padding: 10px;
    /* padding: 3em; */
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}


.filterBy_header{
    font-size: 15px;
    /* padding: 10px; */
    /* border-bottom: 2px solid #c9c9c9; */
}


.filterBy_model{
    background-color: #fff;

}

.filterBy_brand{
    max-height: 350px;
    /* padding: 25px; */
    /* margin-top: 25px; */
    text-align: left;
    background-color: #fff;
    overflow: auto;
    /* border: 2px solid #c9c9c9; */

}

.filterBy_brand input{
    margin: 10px 5px;
}