*{
    margin: 0;
    /* box-sizing: border-box; */
}

.ShoeStore{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr ;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: auto;
}


/* Banner */
.ShoeStore__banner{
    grid-column: 1 / span 6;
    padding: 20px;
    text-align: center;
}


.Banner p{
    color: rgb(165, 165, 165);
}


.ShoeStore__banner{
    background-color: #fff;
    height: 300px;
}

.SneakerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.SneakerNav__logo{
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.SneakerNav__links{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}


/* Sneaker Section */
.ShoeStore__sneakerSection{
    grid-column: 2/ 7;
    max-height: 500px;
    width: 100%;
}

.sneakers{
    display: flex;
    flex-wrap: wrap;
}

.sneakerCard{
    height: 400px;
    max-width: 275px;
    margin: 15px 20px;
    padding: 10px;
    background-color: #fff;
    text-align: left;
}

.brandName{
    color: rgb(165, 165, 165);
    margin-top: 2em;
}

.price{
    font-weight: bold;
    margin-top: 2em;
}

.sneakerModelName{
    word-wrap: break-word;
    font-weight: lighter;
    margin-top: .5em;
}

/* filters */
.filters{
    margin: 20px 25px;
    box-sizing: border-box;
    grid-row: 2;

    font-size: 12px;
}


details{
    /* border: 2px solid #f9f9f9; */
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    /* padding: 3em 3em 3em; */
}
details[open] {
    padding: 10px;
    /* padding: 3em; */
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}


.filterBy_header{
    font-size: 15px;
    /* padding: 10px; */
    /* border-bottom: 2px solid #c9c9c9; */
}


.filterBy_model{
    background-color: #fff;

}

.filterBy_brand{
    max-height: 350px;
    /* padding: 25px; */
    /* margin-top: 25px; */
    text-align: left;
    background-color: #fff;
    overflow: auto;
    /* border: 2px solid #c9c9c9; */

}

.filterBy_brand input{
    margin: 10px 5px;
}


/* footer */
footer{
    /* grid-column: 2/ 7; */

    grid-column: 1 / span 6;
    grid-row: 5;
}